<div class="panel panel-default bg-white p-3 m-2 rounded " *ngFor="let post of posts$.all | keyvalue">
    <div class="panel-heading">
        <h4>{{post.value.author}}</h4>
    </div>
    <div class="panel-body">
        <div class="clearfix"></div>
        <hr>
        <p>{{post.value.post}}</p>
        <hr>
        <form class="form-group" #form="ngForm" (ngSubmit)="createComment(form, post.key)">
        <div class="input-group">
                <input class="form-control" placeholder="Add a comment.." type="text" ngModel name="comment" id="comment">
                <button class="btn btn-primary ml-2" type="submit">Comment</button>
            </div>
        </form>
    </div>
    <button class="btn btn-info" (click)="getComments(post.key)">Get Comments</button>
    <button class="btn btn-primary">Delete Post</button>
    <hr>
    <app-comments></app-comments>
</div>